h1{
    color: blue;
    text-decoration: underline;
}
p{
    color: darkviolet;
    font-style: italic;
}
h3{
    color: deeppink;
    text-decoration: underline;
    font-style: normal;
}